body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #e6f7ff; /* Light Cyan */
    margin: 0;
    padding: 20px;
    color: #333;
}
.container {
    max-width: 1200px; /* Aumentamos el ancho para acomodar los fieldsets lado a lado */
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #4682b4; /* Steel Blue */
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #2e8b57; /* Sea Green */
}
input, textarea, select {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #3cb371; /* Medium Sea Green */
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #2e8b57; /* Sea Green */
}
fieldset {
    border: 1px solid #4682b4; /* Steel Blue */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}
legend {
    color: #4682b4; /* Steel Blue */
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-container > fieldset {
    flex: 1;
    margin-right: 10px;
}
.flex-container > fieldset:last-child {
    margin-right: 0;
}
.oculto {
    display: none;
}
.footer {
background-color: #333;
color: white;
text-align: center;
padding: 20px;
width: 100%;
}

.footer-content {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.footer-section {
flex: 1;
margin: 10px;
}

.footer-section h2 {
margin-bottom: 10px;
}

.footer-section p {
margin: 5px 0;
}

.footer a {
color: #7AB2D3;
text-decoration: none;
}

.footer a:hover {
text-decoration: underline;
}
